:root
{
    --primary-bg-light: #eeeee4;
    --secondary-bg-dark: #08182f;
    --highlight-bg-blue: #198cb8;
    --grid-bg: #eeeee4; 

    --primary-font-dark: #17171f;
    --secondary-font-light: #f4f4f4;
    --font-heading: #964a1d;
    --highlight-font: #45b6d8;
}

/* CSS Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body
{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;    
}

/* Utilities - Repeated Styles */
.container
{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* .wrap
{
    min-height: calc(100vh - 19px);
    width: 100%;
} */

a,li
{
    text-decoration: none;
    list-style: none;
}

h2
{
    font-family: 'Courgette', cursive;
    color: var(--font-heading);
    font-size: 1.7rem;
}

.grid
{
    display: grid;
}

.grid-col-2
{
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-3
{
    grid-template-columns: repeat(3, 1fr);
}

.features-paragraph
{
    padding: 25px;
    align-self: center;
    justify-self: center;
    padding: 0 50px;
}

.btn
{
    padding: 16px 25px;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* Header Styles */
.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-dark);
}

.navbar-links > ul
{
    display: flex;
}

.navbar-links li a
{
    color: var(--secondary-font-light);
    padding: 16px;
    display: block;
}

.toggle-btn
{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--secondary-font-light);
    display: none;
}
/* header
{
    background-color: var(--secondary-bg-dark);
    position: sticky;
    top: 0;
    z-index: 3;
} */

/* header li
{
    display: inline-block;
    padding: 16px 32px;
} */

/* header li > a
{
    color: var(--secondary-font-light);
    font-size: 1.1rem;
} */

/* header nav
{
    justify-self: center;
} */

/* .navbar
{
    grid-template-columns: 1fr 50px;
} */

/* .navbar-links
{
    justify-self: center;
} */

/* .navbar > div:nth-child(2) a
{
    color: var(--secondary-font-light);
    align-self: center;
    justify-self: center;
    font-size: 1.2rem;
} */

/* .toggle-btn
{
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    font-size: 1.2rem;
    color: var(--secondary-font-light);
    display: none;
} */

/* #hamburger-menu
{
    justify-self: center;
    align-self: center;
    color: var(--secondary-font-light);
    font-size: 1.3em;
} */

/* #hamburger-menu > i
{
    padding: 8px;
} */

/* Hero Section */
#hero-section
{
    height: 70vh;
    background-image: url("../img/hero-sample.jpg");
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.hero-content
{
    justify-items: center;
    height: 100%;
}

.hero-content > img
{
    align-self: center;
}

.hero-content > a
{
    margin-top: 0;
}

.hero-content > div
{
    align-self:flex-start;
}

.hero-btn
{
    background-color: var(--highlight-bg-blue);
    color: var(--secondary-font-light);
    /* margin-bottom: auto; */
}

.overlay
{
    position: absolute;
    background-color: var(--secondary-bg-dark);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

/* Opening Hours Styles */
#opening-hrs-section
{
    background-color: var(--primary-bg-light);
    padding-top: 30px;
}

#opening-hrs-section > h2
{
    text-align: center;
    /* margin: 30px 0; */
}

.opening-hrs
{
    column-gap: 2px;
    text-align: center;
    margin-bottom: 30px;
}

.opening-hrs > div
{
    padding-bottom: 12px;
}

.opening-hrs > div > h3
{
    padding: 12px 0;
    color: var(--font-heading);
}

.opening-hrs > div > h4
{
    margin: 10px 0;
}

/* About-Us Styles */
#about-us
{
    column-gap: 10px;
}

#about-us div
{
    align-self: center;
}

#about-us > div img
{
    width: 75%;
    justify-self: center;
    padding: 30px 0;
}

#about-us > div > div:nth-child(2)
{
    padding: 0 32px;
}

/* Features Styles */
.features
{
    background-color: var(--primary-bg-light);
    /* margin: 30px 0; */
}

.features > div > div img
{
    /* background-color: greenyellow; */
    padding: 30px 0;
    max-width: 100%;
    height: auto;
    align-self: center;
    object-fit: cover;
    justify-self: center;
}

/* Menu Gallery Styles */
#menu-gallery > div
{
    justify-items: center;
}

#menu-gallery > h2
{
    text-align: center;
    padding: 30px 0;
}

#menu-gallery img
{
    padding: 10px;
    transition: 1s;
}

#menu-gallery img:hover
{
    transform: scale(1.1);
}
/* Footer Styles */
footer
{
    background-color: var(--primary-bg-light);
    color: var(--primary-font-dark);
}

.inner-grid-footer
{
    grid-template-columns: 75px 1fr;
}

footer > p
{
    text-align: center;
    padding: 30px 0;
}

footer > div
{
    justify-items: center;
    align-items: center;
    padding: 30px 0;
}

footer > div h2
{
    text-align: center;
}

footer > div > div > i
{
    font-size: 25px;
    padding: 16px;
}

footer > div > div:nth-child(2) > i
{
    font-size: 25px;
    display: block;
    align-self: center;
}

footer > div > div:nth-child(2) > p
{
    align-self: center;
}

/* ********** MEDIA QUERIES ********* */

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px)
{
    #hero-section
    {
        height: 100vh;
    }

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px)
{
    
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) 
{
    .grid-col-2
    {
        grid-template-columns: 1fr;
    }

    .grid-col-3
    {
        grid-template-columns: 1fr;
    }

    /* Nav */
    .toggle-btn
    {
        display: flex;
        font-size: 1.5rem;
        margin-right: 25px;
        margin-top: 15px;
    }

    .navbar-links
    {
        display: none;
    }

    .navbar
    {
        flex-direction: column;
    }

    .navbar-links ul
    {
        flex-direction: column;
    }

    .navbar-links li
    {
        text-align: center;
    }

    .navbar-links.active
    {
        display: flex;
    }

    #hero-section
    {
        z-index: -1;
    }

    #hero-section
    {
        height: 100vh;
    }

    .hero-content > img
    {
        width: 60%;
    }

    .hero-content > div > a
    {
        padding: 16px 32px;
    }

    .hero-content > div
    {
        align-self: center;
    }

    #opening-hrs-section 
    {
        padding-bottom: 30px;
    }

    .features > div > div > div:nth-child(3)
    {
        grid-row-start: 4;
        grid-row-end: span 1;
    }

    .features > div > div > div:nth-child(6) > p
    {
        padding-bottom: 30px;
    }

    #about-us > div p
    {
        padding-bottom: 30px;
    }

    #menu-gallery > div
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .menu-items > div img
    {
        justify-self: center;
    }

    #menu-gallery > div img
    {
        width: 60%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) 
{
    .grid-col-2
    {
        grid-template-columns: 1fr;
    }

    .grid-col-3
    {
        grid-template-columns: 1fr;
    }

    .grid-header
    {
        grid-template-columns: 1fr;
    }

    #hero-section
    {
        height: 100vh;
    }

    .hero-content > img
    {
        width: 50%;
    }

    .hero-content > div
    {
        align-self: center;
    }

    #opening-hrs-section 
    {
        padding-bottom: 30px;
    }

    .features > div > div > div:nth-child(3)
    {
        grid-row-start: 4;
        grid-row-end: span 1;
    }

    .features > div > div > div:nth-child(6) > p
    {
        padding-bottom: 30px;
    }

    #about-us > div p
    {
        padding-bottom: 30px;
    }

}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) 
{
    .grid-col-2
    {
        grid-template-columns: 1fr;
    }

    .grid-col-3
    {
        grid-template-columns: 1fr;
    }

    #menu-gallery > div
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .menu-items > div img
    {
        justify-self: center;
    }

    #menu-gallery > div img
    {
        width: 60%;
    }

    #hero-section
    {
        z-index: -1;
    }

    #hero-section
    {
        height: 100vh;
    }

    .hero-content > img
    {
        width: 50%;
    }

    #opening-hrs-section 
    {
        padding-bottom: 30px;
    }

    .features > div > div img
    {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .features > div > div > div:nth-child(3)
    {
        grid-row-start: 4;
        grid-row-end: span 1;
    }

    .features > div > div > div:nth-child(6) > p
    {
        padding-bottom: 30px;
    }

    #about-us > div p
    {
        padding-bottom: 30px;
    }

}

@media (max-width: 575.98px) 
{
    .hero-content > img
    {
        width: 60%;
    }

    .hero-content > div
    {
        align-self: center;
    }

    #menu-gallery > div
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .menu-items > div img
    {
        justify-self: center;
    }

    #menu-gallery > div img
    {
        width: 60%;
    }
}

/* XX-Large devices (larger desktops) */
/* No media query since the xxl breakpoint has no upper bound on its width */