:root
{
    --bg-light: #eeeee4;
    --bg-dark: #08182f;
    --bg-highlight-teal: #007474; 

    --primary-font-dark: #17171f;
    --secondary-font-light: #f4f4f4;
    --font-heading: #964a1d;

}

/* CSS Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body
{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;    
}

h3
{
    color: var(--font-heading);
}

h2
{
    text-underline-position: left;
}

.wrap
{
    min-height: calc(100vh - 136px);
    width: 100%;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

/* Utilities - Repeated Styles */
.container
{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.hide
{
    display: none;
}

.grid
{
    display: grid;
}

.grid-col-2
{
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-3
{
    grid-template-columns: repeat(3, 1fr);
}

/* *****HEADER/NAV***** */
header
{
    background-color: var(--bg-dark);
    /* height: 6vh; */
}

.navbar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-links > ul
{
    display: flex;
}

.navbar-links a
{
    color: var(--secondary-font-light);
    padding: 1rem;
    display: block;
}

.brand-title
{
    color: var(--secondary-font-light);
}

.toggle-btn
{
    color: var(--secondary-font-light);
    position: absolute;
    top: .5rem;
    right: 2rem;
    display: none;
}

/* *****HERO SECTION***** */
#hero-section
{
    position: relative;
    background-image: url("../img/hero-sample.jpg");
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    z-index: 2;
}

.overlay
{
    position: absolute;
    background-color: var(--bg-dark);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.hero-content
{
    width: 50%;
    margin: 0 auto;
}

.hero-content > img
{
    width: 100%;
}

.hero-content > div
{
    padding: 10px 0 30px 0;
    text-align: center;
}

.hero-content > div > a
{
    background-color: var(--font-heading);
    color: var(--secondary-font-light);
    padding: 16px 32px;
    border-radius: 5px;

}

/* *****ABOUT-US***** */
#about-us > div
{
    align-items: center;
}

#about-us > div > div
{
    margin: 30px 0;
}

#about-us > div img
{
    width: 60%;
    height: auto;
    align-self: center;
    justify-self: center;
}

#about-us > div > div:nth-child(2)
{
    padding: 0 25px;
}

/* *****OPENING-HOURS***** */
#opening-hrs-section
{
    text-align: center;
    background-color: var(--bg-light);
}

#opening-hrs-section > div
{
    padding: 30px 0;
}

#opening-hrs-section > div > h2
{
    margin-bottom: 30px;
}

.opening-hrs > div > h3
{
    padding: 10px;
}

/* *****FEATURES***** */
#features-section
{
    position: relative;
}

#features-section > img
{
    position: absolute;
    bottom: -20vh;
    right: 0;
    opacity: 0.2;
    width: 30%;
    z-index: -1;
}

#features-section > div > div img
{
    width: 25%;
}

#features-section > div > div > div
{
    padding: 20px;
}

#features-section > div > div > div:nth-child(1),
#features-section > div > div > div:nth-child(4),
#features-section > div > div > div:nth-child(5)
{
    width: 75%;
    margin: 0 auto;
}


#features-section > div > div > div:nth-child(2),
#features-section > div > div > div:nth-child(3),
#features-section > div > div > div:nth-child(6)
{
    height: 50%;
    margin: auto 0;
}

#features-section > div > div img
{ 
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

/* *****FOOTER***** */
footer
{
    background-color: var(--bg-dark);
    color: var(--secondary-font-light);
}

footer > div
{
    justify-items: center;
    padding: 30px 0;
}

footer > div > div i
{
    padding: 16px 16px;
    font-size: 1.5rem;
    color: var(--font-heading);
}

footer > div > div > h2
{
    text-align: center;
}

.inner-grid-footer
{
    grid-template-columns: 50px 1fr;
}

footer > div > div:nth-child(2)
{
    align-items: center;
}

footer > div > div:nth-child(2) > i
{
    justify-self: center;
}

/* *****MEDIA QUERIES***** */
/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) 
{
    #features-section > div > div img
   {
    height: 30vh;
   }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) 
{
   
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .toggle-btn
    {
        display: flex;
        top: 20px;
    }

    .navbar-links
    {
        display: none;
        width: 100%;
    }

    .navbar
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links > ul
    {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li
    {
        text-align: center;
    }

    .navbar-links a
    {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active
    {
        display: flex;  
        
    }

    #hero-section
    {
        z-index: -1;
    }

    .hero-content
    {
        padding-top: 5vh;
    }

    #features-section > div > div > div:nth-child(1), #features-section > div > div > div:nth-child(4), #features-section > div > div > div:nth-child(5)
    {
        max-width: 100%;
        justify-items: center;
    }
 
    #features-section > div > div > div:nth-child(2), #features-section > div > div > div:nth-child(3), #features-section > div > div > div:nth-child(6)
    {
        height: auto;    
        margin: auto 0;
    }

    #features-section > div > div > div > h2
    {
        text-align: center;
    }

    #features-section > div > div > div:nth-child(4)
    {
        grid-row-start: 3;
        grid-row-end: span 1;
    }

    #features-section > img
    {
         bottom: 0;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .grid-col-2
    {
        grid-template-columns: 1fr;
    }

    .grid-col-3
   {
        grid-template-columns: 1fr;
   }

   .opening-hrs
   {
        width: 50%;
        margin: 0 auto;
        background-color: var(--bg-dark);
   }

   .opening-hrs > div
   {
        margin-bottom: 10px;
   }

   .opening-hrs > div > h4,
   .opening-hrs > div > p
   {
        color: var(--secondary-font-light);
   }

   #opening-hrs-section > div > h2
   {
        margin-bottom: 10px;
   }

   #opening-hrs-section > div 
   {
    padding-top: 10px;
   }

   #features-section > div > div > div:nth-child(2), #features-section > div > div > div:nth-child(3), #features-section > div > div > div:nth-child(6)
   {
    height: auto;    
    margin: auto 0;
   }

   #features-section > img
   {
        bottom: 0;
   }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) 
{
    

}